*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:linear-gradient(120deg,black,rgb(40, 40, 199),rgb(198, 40, 185),green,gray,rgb(190, 45, 161),orange,rgba(58, 180, 193, 0.676));
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position:relative;
    max-width:800px;
    width:100%;
    background:transparent;
    backdrop-filter:blur(5px);
    padding:30px;
    margin:0 15px;
    border-radius:6px;
    box-shadow:0.5rem 1rem 1.5rem 2rem rgba(0,0,0,0.5)
}

.container header{
    font-size:20px;
    font-weight:600;
    color:#fff;
}

.container > form{
    position:relative;
    min-height: 300px;
    margin-top: 16px;
    background:transparent;
}

.container > form > .detail{
    margin-top:10px;
}

.container > form > .detail > .field{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.container > form > .detail > .field > .input-field{
    display:flex;
    flex-direction:column;
    width:calc(100% / 2 - 5px);
    margin:4px 0;
}

.input-field > label{
    font-size:12px;
    font-weight:500px;
    color:#fff;
}


.input-field > input{
    padding:0 15px;
    outline:none;
    border:1px solid #aaa;
    border-radius:5px;
    color:#333;
    font-size:14px;
    font-weight:400;
    height:42px;
    margin:8px 0;
}

.select-field > select{
    font-size:15px;
    padding:0 15px 0 7.5px;
    margin-top:0.5rem;
}

.select-field{
    display:flex;
    flex-direction: column;
    width:40%;
    margin:4px 3rem 4px 0;
}

.select-field >label{
    font-size:12px;
    font-weight:500px;
    color:#fff;
}

.btn-box{
    display:flex;
    justify-content:center;
    margin-top:1rem;
}

.btn{
    width:15rem;
    height:3rem;
    color:white;
    background:black;
    border-radius:1rem;
    border:1px solid black;
    transition:0.5s;
    cursor:pointer;
}

.btn:hover{
    transform:scale(0.8);
}