{% extends "M_base.html" %}

{% block title %} Service detail {% endblock %}

{% block body %}

{% load static %}

<div class="main">
    <div class="service-add-box-size">
        <div class="box">
            <div class="detail">
                <label>Service Name</label>
                <p>{{order.service}}</p>
            </div>
            <div class="detail">
                <label>Price</label>
                <p>{{order.price}}</p>
            </div>
            <div class="detail">
                <label>Technician Name</label>
                <p>{{order.t_name}}</p>
            </div>
            <div class="detail">
                <label>Technician Email</label>
                <p>{{order.t_email}}</p>
            </div>
            <div class="detail">
                <label>Technician Phone</label>
                <p>{{order.t_phone}}</p>
            </div>
            <div class="detail">
                <label>Customer Name</label>
                <p>{{order.c_name}}</p>
            </div>
            <div class="detail">
                <label>Customer Email</label>
                <p>{{order.c_email}}</p>
            </div>
            <div class="detail">
                <label>Customer Phone</label>
                <p>{{order.c_phone}}</p>
            </div>
            <div class="detail">
                <label>Customer Address</label>
                <p>{{order.c_address}}</p>
            </div>
            <div class="detail">
                <label>Order Date</label>
                <p>{{order.order_date}}</p>
            </div>
            <div class="detail">
                <label>Create Date</label>
                <p>{{order.create_at}}</p>
            </div>
            <div class="button">
                <a href="/ets/m_order/list"><button>Go Back</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}