{% extends "M_base.html" %}

{% block title %} Service Category add {% endblock %}

{% block body %}

{% load static %}

<div class="main">
    <div class="border-box">
        <div class="create-item">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <h2>Add New Service Category</h2>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="name" name="name" required>
                </div>
                <div class="input-box">
                    <input type="file" name="image"/>
                </div>
                <div class="but">
                    <button type="submit" class="btn1">Save</button>
                </div>
            </form>
        </div>
        <div class="table-item">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} ">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <div classs="alert-text">{{ message }}</div>
            </div>
            {% endfor %}
            {% endif %}

            {% if category %}
            <table class="service-table">
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                {% for i in category %}
                <tbody>
                    <tr>
                        <td data-label="Image">
                            {% if i.image %}
                            <img src={{i.image.url}}
                                style="height: 60px;width: 60px;border-radius: 15px;border: 5px solid #ced0d2;" />
                            {% endif %}
                        </td>
                        <td data-label="Name">{{i.name}}</td>
                        <td data-label="Action">
                            <a href="/ets/m_service/category/delete/{{i.id}}" onclick="return confirm('Are you sure?');"><button style="background-color:#f80000;"><i class="fa fa-trash-o"></i></button></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                <font align="center">
                    <h3>Nothing to show!</h3>
                </font>
                {% endif %}
            </table>

            {% if category.has_other_pages %}
            <h3>{{ category }}</h3>
            <div class="box1">
                <div class="pagination">
                    <ul>
                        {% if category.has_previous %}
                        <li class="btn prev"><a class="tag" href="?page={{ category.previous_page_number }}"><span><i
                                        class="fa fa-angle-left">Previous</i></span></a></li>
                        {% else %}
                        <li class="btn prev disabled"><span><i class="fa fa-angle-left">Previous</i></span></li>
                        {% endif %}
                        {% if category.has_next %}
                        <li class="btn next"><a class="tag" href="?page={{ category.next_page_number }}"><span>Next<i
                                        class="fa fa-angle-right"></i></span></a></li>
                        {% else %}
                        <li class="btn next disabled"><span>Next<i class="fa fa-angle-right"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}