{% extends "T_base.html" %}

{% block title %} Order List{% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/C_table.css' %}" />
<link rel="stylesheet" href="{% static 'css/M_dashboard.css' %}" />

<div class="main-container">
    <center>
        <!-- message -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} ">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <center>
                <div classs="alert-text">{{ message }}</div>
            </center>
        </div>
        {% endfor %}
        {% endif %}
    </center>
    <div class="table-list-box-size">
        <div class="table-list-box">
            <div class="service-table-header">
                <p>Order Lists</p>
            </div>

            <table class="service-table">
                {% if order %}
                <thead>
                    <th>Service Name</th>
                    <th>Technician Name</th>
                    <th>Customer Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>A or R Action</th>
                    <th>F Action</th>
                </thead>
                {% for i in order %}
                <tbody>
                    <tr>
                        <td data-label="ID">{{i.service}}</td>
                        <td data-label="Photo">{{i.t_name}}</td>
                        <td data-label="Name">{{i.c_name}}</td>
                        <td data-label="Email">{{i.price}}</td>

                        {% if i.f_status == "on-going" %}
                            <td data-label="F_status" style="background-color: #17a2b8;"><font color="#fff">On-going</font></td>
                        {% elif i.f_status == "finish" %}
                            <td data-label="F_status" style="background-color: green;"><font color="#fff">Finished</font></td>
                        {% else %}
                        <td data-label="F_status"></td>
                        {% endif %}
                        

                        <td data-label="Action">
                            <a href="/ets/t_order/detail/{{i.id}}"><button style="background-color:rgb(86, 168, 168)"><i
                                        class="fa fa-eye"></i></button></a>
                            {% if i.status == "reject" %}
                            <a href="/ets/t_order/delete/{{i.id}}" onclick="return confirm('Are you sure?');"><button
                                    style="background-color:#f80000;"><i class="fa fa-trash-o"></i></button></a>
                            {% endif %}
                        </td>

                        {% if i.status == "pending" %}
                        <td data-label="A or R Action">
                            <a href="/ets/t_order/approve/{{i.id}}/" onclick="return confirm('Are you sure?');"><button
                                    style="background-color:green;width:70px;">approve</button></a>
                            <a href="/ets/t_order/reject/{{i.id}}/" onclick="return confirm('Are you sure?');"><button
                                    style="background-color:red;width:70px;">reject</button></a>
                        </td>
                        {% elif i.status == "approve" %}
                        <td data-label="A or R Action">
                        <button class="disabled" style="background-color:green;width:100px;height:45px;border-radius:0.5rem;color:#fff;">approve</button>
                        </td>
                        {% elif i.status == "reject" %}
                        <td data-label="A or R Action">
                        <button class="disabled" style="background-color:red;width:100px;height:45px;border-radius:0.5rem;color:#fff;">reject</button>
                        </td>
                        {% endif %}

                        {% if i.f_status == "on-going" %}
                        <td>
                        <a href="/ets/t_order/finish/{{i.id}}/" onclick="return confirm('Are you sure?');"><button
                                style="background-color:green;width:70px;">Finish</button></a>
                        </td>
                        {% elif i.f_status == "finish" %}
                        <td data-label="F Action"></td>
                        {%endif%}
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                <font align="center">
                    <h3>Nothing to show!</h3>
                </font>
                {% endif %}
            </table>
            {% if order.has_other_pages %}
            <div class="pagination-title">
                <h3>{{ order }}</h3>
            </div>
            <div class="box1">
                <div class="pagination">
                    <ul>
                        {% if order.has_previous %}
                        <li class="btn prev"><a class="tag" href="?page={{ order.previous_page_number }}"><span><i
                                        class="fa fa-angle-left">Previous</i></span></a></li>
                        {% else %}
                        <li class="btn prev disabled"><span><i class="fa fa-angle-left">Previous</i></span></li>
                        {% endif %}
                        {% if order.has_next %}
                        <li class="btn next"><a class="tag" href="?page={{ order.next_page_number }}"><span>Next<i
                                        class="fa fa-angle-right"></i></span></a></li>
                        {% else %}
                        <li class="btn next disabled"><span>Next<i class="fa fa-angle-right"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}