{% extends "T_base.html" %}

{% block title %}Order{% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/C_table.css' %}" />

<div class="main-container">
    <center>
        <!-- message -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} ">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <center>
                <div classs="alert-text">{{ message }}</div>
            </center>
        </div>
        {% endfor %}
        {% endif %}
    </center>
    <div class="table-list-box-size">
        <div class="table-list-box2">
            <header>Order</header>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="detail">
                    <div class="field">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="name" placeholder="Enter your name" required/>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="email" value="{{t_user.email}}" readonly/>
                        </div>
                        <div class="input-field">
                            <label>Phone</label>
                            <input type="text" name="phone" placeholder="Enter your phone-number" required/>
                        </div>
                    </div>
                    <div class="field2">
                        <div class="input-field1">
                            <label>review</label>
                            <textarea name="message" placeholder="Enter your Review" required></textarea>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}